@{
    ViewBag.Title = "Queue Manager Page";
}

<script src="~/Scripts/require.js" data-main="/scripts/app/main"></script>

    <div class="row">
        <div class="panel panel-default col-md-6">
            <div class="panel-heading">
                Queue Actions
            </div>
            <div id="queue-items-container" class="panel-body">
                <div class="row">
                    <input id="btnGetCount" type="button" value="Get messages count" class="btn btn-primary" />
                    <label class="control-label"> Messages count:</label>
                    <label class="control-label" data-bind="text:messagesCount"></label>
                </div>
                <br />
                <div class="row">
                    <input id="btnDequeue" type="button" value="Dequeue" class="btn btn-primary" />
                    <label class="control-label"> Message from query:</label>
                    <label class="control-label" data-bind="text:messageFromQueue"></label>
                </div>
                <br />
                <div class="row">
                    <input id="btnEnqueue" type="button" value="Enqueue" class="btn btn-primary" />
                    <label class="control-label"> Message to query:</label>
                    <input type="text" class="control-label" data-bind="value:messageToQueue" />
                </div>
                <br />
                <div class="row">
                    <input id="btnPurgeQueue" type="button" value="Purge queue" class="btn btn-primary" />
                </div>
            </div>
            <div class="panel-footer">
                <div id="trace-errors-container">
                    <label class="label-danger" data-bind="text:message"></label>
                </div>
                <div id="trace-info-container">
                    <label class="label-info" data-bind="text:message"></label>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="panel panel-default col-md-6">
            <div class="panel-heading">
                Action Types Tracing
            </div>
            <div class="panel-body">
                <div id="trace-records-container" class="trace-records-grid">
                    <ul data-bind="foreach:historyItems()">
                        <li>
                            <span class="col-md-4" data-bind="text: QueueName"></span>
                            <span class="col-md-4" data-bind="text: ActionType"></span>
                            <span class="col-md-4" data-bind="text: TimeStamp"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
